<% if user.errors.empty? %>
<% else %>
<div id="error_explanation", class="alert alert-danger">
  <ul>
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
