<% if error_var.errors.any? %>
<div id="error_explanation", class="alert alert-danger">
  <ul>
    <% error_var.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
