<div class = "container">
  <br>
  <font color="green"><p id="notice"><%= notice %></p></font>

  <p>
    <p>Description:</p>
    <%= @task.description %>
  </p>

  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Back', tasks_path %>
</div>
