<div class = "container">
  <br>
  <div class="alert alert-success" role="alert">
    <p id="notice"><%= notice %></p>
  </div>

  <p>
    <p>Description:</p>
    <%= @task.description %>
  </p>

  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Back', tasks_path %>
</div>
