<div class = "container">
  <div class = "page-header">
  <h1>Terms</h1>
  </div>

  <p>Waffle Iron is not responsible for anything. </p>
  <p>You may not take us to court. For anything. Ever.</p>

</div>
